@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  margin: 0px 20px;
  background-color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow-y: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: #f5f5f590;

  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #686767;
  border-radius: 100px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}

/* "50": "#ffffea",
"100": "#fffbc5",
"200": "#fff885",
"300": "#ffee46",
"400": "#ffdf1b",
"500": "#ffc107",
"600": "#e29400",
"700": "#bb6902",
"800": "#985108",
"900": "#7c420b",
"950": "#482200",
text: "#4E4E4E",
bg: "#F5F5F5",
border: "#C1C1C1", */
